.ticker {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(48, 48, 48);

    &__data {
        width: 100%;
        overflow: hidden;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: -65rem;

        &--item {
            display: flex;
            position: absolute;
        }
    }
}