{% extends "base.njk" %}
{% block content %}
 {% include "./partials/loginModal.njk" %}
 {% include "./partials/registerModal.njk" %}
  {% include "./partials/detailheader.njk" %}
  <main>
   <section class="bg-site-bg py-14">
    <div class="flex flex-col lg:flex-row justify-around mx-auto container">
     <div class="chart__container relative mb-12 lg:mb-0 w-full lg:w-3/4 bg-white text-gray-800 p-5 rounded-2xl shadow-card">
        <button onclick="makeFavorite('{{detailData.name}}')" class="absolute -top-5 -right-5 bg-site-primary p-4 rounded-full hover:bg-site-secondary">
          <svg id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgba(255, 255, 255);transform:;-ms-filter:"><path d="M12,4.595c-1.104-1.006-2.512-1.558-3.996-1.558c-1.578,0-3.072,0.623-4.213,1.758c-2.353,2.363-2.352,6.059,0.002,8.412 l7.332,7.332c0.17,0.299,0.498,0.492,0.875,0.492c0.322,0,0.609-0.163,0.792-0.409l7.415-7.415 c2.354-2.354,2.354-6.049-0.002-8.416c-1.137-1.131-2.631-1.754-4.209-1.754C14.513,3.037,13.104,3.589,12,4.595z M18.791,6.205 c1.563,1.571,1.564,4.025,0.002,5.588L12,18.586l-6.793-6.793C3.645,10.23,3.646,7.776,5.205,6.209 c0.76-0.756,1.754-1.172,2.799-1.172s2.035,0.416,2.789,1.17l0.5,0.5c0.391,0.391,1.023,0.391,1.414,0l0.5-0.5 C14.719,4.698,17.281,4.702,18.791,6.205z"></path></svg>
        </button>
      <h2 class="text-2xl w-full font-extrabold">{{ detailData.name }} rate</h2>
      <p class="w-full font-bold text-3xl pt-1">€{{ detailData.market_data.current_price.eur | round(5) }}</p>
      <p class="w-full text-sm mb-3 text-red-500 {{ 'text-green-500' if detailData.market_data.price_change_percentage_24h > 0 }}">{{ '+' if detailData.market_data.price_change_percentage_24h > 0 }}{{ detailData.market_data.price_change_percentage_24h | round(2) }}% in the past 24 hours</p>
      <canvas style="position: relative; height:45vh; width:100%" id="{{ detailData.id }}Chart"></canvas>
     </div>
     <div class="flex flex-col w-full justify-between lg:w-1/3 lg:ml-10 bg-white text-gray-800 p-5 rounded-2xl shadow-card">
      <div>
        <h2 class="text-2xl w-full font-extrabold">About {{ detailData.name }}</h2>
        <p>{{ detailData.description.en.slice(0, 500) | safe }}...
          <a class="text-blue-500" href="{{ detailData.links.homepage[0] }}">Learn more</a>
        </p>
        </div>
      <div class="mt-8">
        <div class="buyButtons flex flex-wrap justify-between mb-2 lg:mb-0 xl:mb-2">
          <button onclick="buyClickHandler(10)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+10</button>
          <button onclick="buyClickHandler(100)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+100</button>
          <button onclick="buyClickHandler(500)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+500</button>
          <button onclick="buyClickHandler(1000)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+1000</button>
        </div>
        <form onclick="handleSubmit({{ detailData.market_data.current_price.eur | round(5)}})" onsubmit="return false">
          <button data-id="0" class="bg-site-primary text-white p-2 px-6 mb-2 text-center text-xl rounded-xl hover:bg-site-secondary w-full">Buy €<span class="buyAmount">0</span> {{detailData.name}}</button>
        </form>
          <div>
            <button onclick="resetPrice(100)" class="bg-red-500 text-white p-2 px-6 text-center text-xl rounded-xl hover:bg-red-700 w-full">Reset price</button>
          </div>
      </div>
     </div>
    </div>
   </section>
   <section class="bg-site-bg overflow-hidden py-8">
    <h2 class="text-xl  w-full text-left md:text-center md:text-3xl lg:text-4xl font-bold pt-8 pb-2">More Cryptocurrencies like {{ detailData.name }}</h2>
    <div class="container mx-auto flex flex-wrap py-10">
     <div class="hidden md:flex w-full justify-between">
      <p class="uppercase font-bold ml-3">name</p>
      <div class="flex">
       <p class="uppercase mr-14 font-bold">price</p>
       <p class="uppercase mr-28 font-bold">change</p>
      </div>
     </div>
     {% for data in tickerData.slice(0, 10) -%}
     <a href="/products/{{ data.id }}">
      <div class="flex flex-wrap items-center justify-between min-w-full bg-white text-gray-800 rounded-2xl mb-3 shadow-card">
       <div class="flex items-center pl-5">
        <div class="flex content-center items-center">
          <div>
            <img src="{{ data.image }}" class="w-7"/>
          </div>
          <div>
            <h3 class="block md:inline text-lg font-bold ml-3">{{ data.name }}</h3>
            <h3 class="block md:inline text-sm ml-3 font-bold uppercase">{{ data.symbol }}</h3>
          </div>
        </div>
       </div>
       <div class="flex items-center">
        <div class="inline md:flex">
         <p class="mr-0 md:mr-12 font-bold pr-5 md:pr-0 text-xl text-right">€{{ data.current_price | round(5) }}</p>
         <p class="w-auto text-lg text-right md:w-20 pr-5 md:pr-0 md:text-xl md:mr-12 text-red-500 {{ 'text-green-500' if data.price_change_percentage_24h > 0 }}">{{ '+' if data.price_change_percentage_24h > 0 }}{{ data.price_change_percentage_24h | round(2) }}%</p>
        </div>
        <a href="/products/{{ data.id }}" class="hidden md:block md:bg-site-primary hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-r-2xl">
         Buy
        </a>
       </div>
      </div>
      </a>
     {%- endfor %}
    <a href="../../overview" class="bg-site-primary hover:bg-blue-700 text-white m-auto mt-16 font-bold py-4 px-4 rounded-2xl">
     Browse more Cryptocurrencies
    </a>
    </div>
    </section>
  </main>
{% endblock %}