{% extends "base.njk" %}
{% block content %}
 {% include "./partials/loginModal.njk" %}
 {% include "./partials/registerModal.njk" %}
  {% include "./partials/detailheader.njk" %}
  <main>
   <section class="bg-site-bg py-14">
    <div class="flex flex-col lg:flex-row justify-around mx-auto container">
     <div class="chart__container relative mb-12 lg:mb-0 w-full lg:w-3/4 bg-white text-gray-800 p-5 rounded-2xl shadow-card">
        <div onclick="makeFavorite()" class="absolute -top-5 -right-5 hover:cursor-pointer">
          <svg class="fill-current text-site-primary w-14 h-14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
            <g>
              <path d="M322.978,182.357c-12.58,0-24.407,4.898-33.303,13.794L256,229.826l-33.675-33.675   c-8.896-8.896-20.723-13.794-33.303-13.794c-12.579,0-24.406,4.898-33.302,13.794s-13.794,20.723-13.794,33.302   c0,12.58,4.898,24.407,13.794,33.303l99.92,100.639l100.639-100.639c18.362-18.363,18.362-48.241,0-66.604   C347.384,187.256,335.557,182.357,322.978,182.357z"/>
              <path d="M437.02,74.98C388.667,26.629,324.38,0,256,0S123.333,26.629,74.98,74.98C26.629,123.333,0,187.62,0,256   s26.629,132.667,74.98,181.02C123.333,485.371,187.62,512,256,512s132.667-26.629,181.02-74.98C485.371,388.667,512,324.38,512,256   S485.371,123.333,437.02,74.98z M377.492,283.969L255.564,405.896L134.47,283.931c-30.021-30.021-30.021-78.933,0.038-108.992   c30.058-30.059,78.971-30.061,109.03,0L256,187.4l12.462-12.462c30.06-30.062,78.973-30.06,109.03,0   C407.552,204.998,407.552,253.909,377.492,283.969z"/>
            </g>
          </svg>
        </div>
      <h2 class="text-2xl w-full font-extrabold">{{ detailData.name }} rate</h2>
      <p class="w-full font-bold text-3xl pt-1">€{{ detailData.market_data.current_price.eur | round(5) }}</p>
      <p class="w-full text-sm mb-3 text-red-500 {{ 'text-green-500' if detailData.market_data.price_change_percentage_24h > 0 }}">{{ '+' if detailData.market_data.price_change_percentage_24h > 0 }}{{ detailData.market_data.price_change_percentage_24h | round(2) }}% in the past 24 hours</p>
      <canvas style="position: relative; height:45vh; width:100%" id="{{ detailData.id }}Chart"></canvas>
     </div>
     <div class="flex flex-col w-full justify-between lg:w-1/3 lg:ml-10 bg-white text-gray-800 p-5 rounded-2xl shadow-card">
      <div>
        <h2 class="text-2xl w-full font-extrabold">About {{ detailData.name }}</h2>
        <p>{{ detailData.description.en.slice(0, 500) | safe }}...
          <a class="text-blue-500" href="{{ detailData.links.homepage[0] }}">Learn more</a>
        </p>
        </div>
      <div class="mt-8">
        <div class="buyButtons flex flex-wrap justify-between mb-2 lg:mb-0 xl:mb-2">
          <button onclick="buyClickHandler(10)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+10</button>
          <button onclick="buyClickHandler(100)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+100</button>
          <button onclick="buyClickHandler(500)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+500</button>
          <button onclick="buyClickHandler(1000)" class="sm:w-1/5 lg:w-2/5 lg:mb-2 buyButton 2xl:w-1/5 bg-site-primary text-white px-1 py-2 text-center text-xl rounded-xl block hover:bg-site-secondary">€+1000</button>
        </div>
        <form onclick="handleSubmit({{ detailData.market_data.current_price.eur | round(5)}})" onsubmit="return false">
          <button data-id="0" class="bg-site-primary text-white p-2 px-6 mb-2 text-center text-xl rounded-xl hover:bg-site-secondary w-full">Buy €<span class="buyAmount">0</span> {{detailData.name}}</button>
        </form>
          <div>
            <button onclick="resetPrice(100)" class="bg-red-500 text-white p-2 px-6 text-center text-xl rounded-xl hover:bg-red-700 w-full">Reset price</button>
          </div>
      </div>
     </div>
    </div>
   </section>
   <section class="bg-site-bg overflow-hidden py-8">
    <h2 class="text-xl  w-full text-left md:text-center md:text-3xl lg:text-4xl font-bold pt-8 pb-2">More Cryptocurrencies like {{ detailData.name }}</h2>
    <div class="container mx-auto flex flex-wrap py-10">
     <div class="hidden md:flex w-full justify-between">
      <p class="uppercase font-bold ml-3">name</p>
      <div class="flex">
       <p class="uppercase mr-14 font-bold">price</p>
       <p class="uppercase mr-28 font-bold">change</p>
      </div>
     </div>
     {% for data in tickerData.slice(0, 10) -%}
     <a href="/products/{{ data.id }}">
      <div class="flex flex-wrap items-center justify-between min-w-full bg-white text-gray-800 rounded-2xl mb-3 shadow-card">
       <div class="flex items-center pl-5">
        <div class="flex content-center items-center">
          <div>
            <img src="{{ data.image }}" class="w-7"/>
          </div>
          <div>
            <h3 class="block md:inline text-lg font-bold ml-3">{{ data.name }}</h3>
            <h3 class="block md:inline text-sm ml-3 font-bold uppercase">{{ data.symbol }}</h3>
          </div>
        </div>
       </div>
       <div class="flex items-center">
        <div class="inline md:flex">
         <p class="mr-0 md:mr-12 font-bold pr-5 md:pr-0 text-xl text-right">€{{ data.current_price | round(5) }}</p>
         <p class="w-auto text-lg text-right md:w-20 pr-5 md:pr-0 md:text-xl md:mr-12 text-red-500 {{ 'text-green-500' if data.price_change_percentage_24h > 0 }}">{{ '+' if data.price_change_percentage_24h > 0 }}{{ data.price_change_percentage_24h | round(2) }}%</p>
        </div>
        <a href="/products/{{ data.id }}" class="hidden md:block md:bg-site-primary hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-r-2xl">
         Buy
        </a>
       </div>
      </div>
      </a>
     {%- endfor %}
    <a href="../../overview" class="bg-site-primary hover:bg-blue-700 text-white m-auto mt-16 font-bold py-4 px-4 rounded-2xl">
     Browse more Cryptocurrencies
    </a>
    </div>
    </section>
  </main>
{% endblock %}