<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
 </head>
 <body>
  {% include "./partials/header.njk" %}
  <main>
   <section class="bg-site-bg overflow-hidden py-8">
    <h2 class="text-xl  w-full text-left md:text-center md:text-4xl lg:text-5xl font-bold py-8">Discover trending coins</h2>
    <p class="hidden md:block text-center w-2/5 m-auto mb-10">We offer a wide range of coins you can buy on our site. Below
     are some of the ones that have received the most attention from our customers.</p>
    <div class="container mx-auto flex py-10">
     {% for data in tickerData -%}
      <a href="detail/{{ data.id }}" class="flex flex-wrap min-w-1/4 bg-white text-gray-800 p-5 rounded-2xl shadow-card ml-5">
       <div class="flex w-full justify-between items-center">
        <div class="flex content-center">
         <img src="{{ data.image }}" class="w-7"/>
         <h3 class="text-lg font-bold ml-3">{{ data.name }}</h3>
        </div>
        <h3 class="text-sm font-bold uppercase">{{ data.symbol }}</h3>
       </div>
       <p class="w-full font-bold text-3xl pt-6">€{{ data.current_price | round(5) }}</p>
       <p class="w-full text-sm text-red-500 {{ 'text-green-500' if data.price_change_percentage_24h > 0 }}">{{ '+' if data.price_change_percentage_24h > 0 }}{{ data.price_change_percentage_24h | round(2) }}% in the past 24 hours</p>
      </a>
     {%- endfor %}
    </div>
   </section>
   <section class="bg-site-secondary-bg py-8">
    <div class="whyarlan bg-site-secondary-bg container mx-auto">
     <h2 class="text-xl text-left md:text-center md:text-4xl lg:text-5xl font-bold py-8">Why choose Arlan?</h2>
     <p class="hidden md:block text-center w-2/5 m-auto mb-10">We believe that every person, no matter their experience or
      skills should be able to purchase cryptocurrencies. That's why we use a simple system, to make it as easy as possible,
      yet still secure and competitive with the rest.</p>
     <div class="discover__list flex flex-wrap m-auto md:justify-between">
      <div class="discover__list--item bg-white my-4 mb-12 rounded-xl shadow-card">
       <div class="list__item--content p-4">
        <img src="media/whyarlan/safe.png" class="m-auto -mt-12"/>
        <h3 class="font-bold pb-4 text-2xl">Safe</h3>
        <p>With countell checks and the latest technologies, your transactions are secured on multiple levels.</p>
       </div>
      </div>
      <div class="discover__list--item bg-white my-4 mb-12 rounded-xl shadow-card">
       <div class="list__item--content p-4">
        <img src="media/whyarlan/simple.png" class="m-auto -mt-12"/>
        <h3 class="font-bold pb-4 text-2xl">Simple</h3>
        <p>We strive to make out platform easy to use, so anybody can get involved in investing and start making money from it.</p>
       </div>
      </div>
      <div class="discover__list--item bg-white my-4  mb-12 rounded-xl shadow-card">
       <div class="list__item--content p-4">
        <img src="media/whyarlan/competitive.png" class="m-auto -mt-12"/>
        <h3 class="font-bold pb-4 text-2xl">Competitive</h3>
        <p>Because we're able to sell packets of coins, we are able to sell at a very competitive price compared to other
         platforms.</p>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section class="bg-site-bg overflow-hidden py-8">
    <h2 class="text-xl  w-full text-left md:text-center md:text-4xl lg:text-5xl font-bold py-8">Cryptocurrencies</h2>
    <div class="container mx-auto flex flex-wrap py-10">
     <div class="flex w-full justify-between">
      <p class="uppercase font-bold ml-3">name</p>
      <div class="flex">
       <p class="uppercase mr-14 font-bold">price</p>
       <p class="uppercase mr-28 font-bold">change</p>
      </div>
     </div>
     {% for data in tickerData.slice(0, 10) -%}
      <div class="flex flex-wrap items-center justify-between min-w-full bg-white text-gray-800 rounded-2xl mb-3 shadow-card">
       <div class="flex items-center pl-5">
        <div class="flex content-center">
         <img src="{{ data.image }}" class="w-7"/>
         <h3 class="text-lg font-bold ml-3">{{ data.name }}</h3>
        </div>
        <h3 class="text-sm ml-2 font-bold uppercase">{{ data.symbol }}</h3>
       </div>
       <div class="flex items-center">
        <div class="flex justify-evenly items-center">
         <p class="font-bold mr-12 text-xl text-right">€{{ data.current_price | round(5) }}</p>
         <p class="w-20 text-xl mr-12 text-red-500 text-right {{ 'text-green-500' if data.price_change_percentage_24h > 0 }}">{{ '+' if data.price_change_percentage_24h > 0 }}{{ data.price_change_percentage_24h | round(2) }}%</p>
         <a href="detail/{{ data.id }}" class="bg-site-primary hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-r-2xl">
          Buy
         </a>
        </div>
       </div>
      </div>
     {%- endfor %}
    </div>
   </section>
  </main>
  {% include "./partials/footer.njk" %}
  <script src="https://kit.fontawesome.com/eefbba8f9b.js" crossorigin="anonymous"></script>
  <script src="scripts/gsap/gsap.min.js" crossorigin="anonymous"></script>
  <script src="scripts/chartjs.js" crossorigin="anonymous"></script>
  <script src="scripts/app.js"></script>
 </body>
</html>