<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>
<body>
  {% include "./partials/header.njk" %}
  <main class="container mx-auto">
    {%for data in tickerData -%}
      <div class="bg-gray-100 my-10 border-indigo-600  | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer">
      <div class="flex flex-col text-center content-center justify-center">
        <p class="text-gray-900 font-semibold">{{data.name}}</p>
        <p class="text-black text-justify font-semibold">€{{data.current_price}}</p>
      </div>
    </div>
    {%-endfor%}
    {% include "./partials/discover-trending.njk" %}
    {% include "./partials/why-arlan.njk" %}
    {% include "./partials/cryptocurrencies.njk" %}
    {% include "./partials/footer.njk" %}
  </main>
  <script src="https://kit.fontawesome.com/eefbba8f9b.js" crossorigin="anonymous"></script>
</body>
</html>