{% extends "base.njk" %}
{% block content %}
 {% set detailData = { image: 'null', name: 'Profile', padding: '16' } %}
  {% include "./partials/detailheader.njk" %}
  <main>
   <section class="bg-site-bg overflow-hidden py-8">
   <div class="container bg-white p-6 md:w-9/12 m-auto rounded-2xl shadow-card mb-16">
      <div class="container m-auto mb-12">
        <div class="flex justify-center">
          <div class="bg-yellow-200 w-40 h-40 rounded-full text-center items-center flex justify-center my-4">
            <span class="text-gray-800 font-bold text-7xl ">{{ profileData[0].firstname | truncate(1, true, '') }}</span>
          </div>
        </div>
        <h2 class="text-center text-3xl font-bold">{{ profileData[0].firstname }} {{ profileData[0].lastname }}</h2>
      </div>
      <div class="flex justify-between">
        <div class="w-2/5">
          <h2 class="text-3xl font-bold">Your favorite cryptocoins</h2>
          <ul class="h-60 overflow-y-auto">
            {% for coin in favoritesData %}
              <li>
                <h2 class="p-2 text-2xl">{{ coin.ProductId }}</h2>
              </li>
            {% endfor %}
          </ul>
          <a href="/overview" class="bg-site-primary text-xl text-white rounded-lg p-4 font-bold hover:bg-site-secondary">Find more cryptocoins</a>
        </div>
        <div class="w-2/5">
          <h2 class="text-3xl font-bold">Profile information</h2>
          <ul class="h-60 overflow-y-auto">
            <li><p class="p-2 text-2xl">First name: {{ profileData[0].firstname }}</p></li>  
            <li><p class="p-2 text-2xl">Last name: {{ profileData[0].lastname }}</p></li>  
            <li><p class="p-2 text-2xl">Date of birth: {{ profileData[0].date_of_birth | truncate(10, true, '')}}</p></li>  
          </ul>
          <button class="bg-site-primary text-xl text-white rounded-lg p-4 font-bold hover:bg-site-secondary">Change profile info</button>
        </div>
      </div>
    </div>
   </section>
  </main>
{% endblock %}