{% extends "base.njk" %}
{% block content %}
 {% set detailData = { image: 'null', name: 'Profile', padding: '16' } %}
  {% include "./partials/detailheader.njk" %}
  <main>
   <section class="bg-site-bg"> 
    <div class="container m-auto">
     {{profileData | dump}}
     {{favoritesData | dump}}
     <div>
      <h1>{{ profileData.firstname | truncate(1, true, '') }}</h1>
    </div>
    </div>
   </section>
  </main>
{% endblock %}