<section>
 <header class="bg-gradient-to-b from-site-secondary to-site-primary">
  <nav class="navigation">
   <div class="container px-8 py-3 mx-auto md:flex md:justify-between md:items-center">
    <div class="flex items-center justify-between">
     <div class="flex items-center">
      <img class="hero__image" src="media/logo.svg" alt=""/>
      <a
       class="text-2xl pl-4 font-bold text-white dark:text-white lg:text-4xl hover:text-gray-200 dark:hover:text-gray-300"
       href="#">Arlan</a>
     </div>
     <div class="flex md:hidden">
      <button
       onclick="openHamburgerMenu()"
       type="button"
       class="text-white openHamburger dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none
        focus:text-gray-600 dark:focus:text-gray-400"
       aria-label="toggle menu">
       <svg viewbox="0 0 24 24" class="w-6 h-6 fill-current">
        <path
         fill-rule="evenodd"
         d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
       </svg>
      </button>
     </div>
     <div
      onclick="closeHamburger()"
      class="closeHamburger hidden absolute top-3 right-10 cursor-pointer flex-col items-center mt-4 mr-4 text-white text-sm
       z-50">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
       <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
     </div>
    </div>
    <div class="hamburgerMenu hidden items-center md:flex">
     <div class="flex flex-col md:flex-row md:mx-6">
      <a
       class="my-1 text-sm font-medium text-white dark:text-gray-200 hover:text-indigo-500 dark:hover:text-indigo-400 md:mx-4
        md:my-0"
       href="/">Home</a>
      <a
       class="my-1 text-sm font-medium text-white dark:text-gray-200 hover:text-indigo-500 dark:hover:text-indigo-400 md:mx-4
        md:my-0"
       href="/overview">Shop</a>
      <a
       class="my-1 text-sm font-medium text-white dark:text-gray-200 hover:text-indigo-500 dark:hover:text-indigo-400 md:mx-4
        md:my-0"
       href="/contact">Contact</a>
      <a
       class="my-1 text-sm font-medium text-white dark:text-gray-200 hover:text-indigo-500 dark:hover:text-indigo-400 md:mx-4
        md:my-0"
       href="/about">About</a>
     </div>
    </div>
    <div class="flex justify-center items-center">
     <a
      id="profileIcon"
      class="hidden relative text-white dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-300 pr-4"
      href="#">
      <svg
       class="w-5 h-5"
       xmlns="http://www.w3.org/2000/svg"
       width="16"
       height="16"
       fill="currentColor"
       class="bi bi-person"
       viewBox="0 0 16 16">
       <path
        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6
         4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83
         1.418-.832 1.664h10z"
        stroke="currentColor"
        stroke-width="0.5"
        stroke-linecap="round"
        stroke-linejoin="round"/>
      </svg>
     </a>
     <div onclick="openCart()" class="relative mt-6">
      <a class="relative text-white dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-300 pr-4">
       <svg class="w-5 h-5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
         d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954
          17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046
          8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
         stroke="currentColor"
         stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round"/>
       </svg>
      </a>
     </div>
     <div class="shoppingCart hidden z-10 absolute bg-white h-96 w-96 top-0 right-5 rounded-2xl">
      <div
       onclick="closeCart()"
       class="absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
       <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
       </svg>
      </div>
      <h2 class="text-site-primary text-center text-2xl font-bold my-4">Shopping Cart</h2>
      <form>
       <ul id="shoppingCartList" class="w-11/12 m-auto h-56 overflow-y-scroll"></ul>
       <div class="flex justify-between w-11/12 m-auto pt-2">
        <div>
         <h2 class="text-xl font-bold">Total:</h2>
        </div>
        <div>
         <p id="ShoppingCartTotal" class="text-xl font-bold">0</p>
        </div>
       </div>
       <button
        onclick="gotoCheckout()"
        class="bg-site-primary text-white px-2 py-2 w-11/12 m-auto rounded-xl ml-4 mt-2 font-bold">Checkout</button>
      </form>
     </div>
     <a id="loginText" class="relative text-white dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-300">
      <button onclick="openModal()">Login</button>
     </a>
    </div>
   </div>
  </nav>
  <div class="container px-6 pt-12 z-0 mx-auto">
   <div class="items-center justify-between md:flex">
    <div class="w-full md:w-6/12">
     <div>
      <h1 class="text-2xl font-extrabold text-white dark:text-white md:text-5xl">We are Arlan.</h1>
      <p class="text-white text-lg my-4">Striving to make buying cryptocurrencies as simple as possible, we made Arlan. A
       platform where you can securely buy your crypto's with a set price so you don't have to worry about conversions and all
       the troubles that come with trading.</p>
     </div>
    </div>
    <div class="flex items-center justify-center w-full mt-6 md:mt-0 md:w-1/3">
     <img class="w-full h-full max-w-2xl" src="media/headerImages/aboutHeaderImage.png" alt="arlan about image"></div>
    </div>
   </div>
  </header>
  <div class="ticker">
   <div class="ticker__data flex">
    {% for data in tickerData -%}
     <ul class="ticker__data--item text-white">
      <li class="data__item--content flex items-center">
       <img class="w-6" src={{ data.image }}>
        <span class="text-sm ml-3">{{ data.name }}</span>
        <div class="flex ml-1">
         <span class="text-sm ml-2 flex text-red-500 {{ 'text-green-500' if data.price_change_percentage_24h > 0 }}">{{ '▲' if data.price_change_percentage_24h > 0 else '▼' }}</span>
         <span class="text-sm text-red-500 {{ 'text-green-500' if data.price_change_percentage_24h > 0 }}">{{ '+' if data.price_change_percentage_24h > 0 }}{{ data.price_change_percentage_24h | round(2) }}%</span>
        </div>
       </li>
      </ul>
     {%- endfor %}
    </div>
   </section>