<section>
  <div class="discover">
    <h2>Discover trending coins</h2>
    <p>We offer a wide range of coins you can buy on our site. Below are some of the ones that have received the most attention from our customers.</p>
    <div class="discover__list">
      
    </div>
  </div>
</section>