<footer>
  <div class="footer__info">
    <div class="info__image--wrapper">
      <img class="header__logo" src="media/logo.svg" alt="arlan logo"/>
      <h2>Arlan</h2>
    </div>
    <p>Bagattenstraat 51</p>
    <p>9000 Gent</p>
    <ul class="footer__socials--list">
      <li class="socials__list--items"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
      <li class="socials__list--items"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
      <li class="socials__list--items"><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li class="socials__list--items"><a href="#"><i class="fab fa-instagram-square"></i></a></li>
    </ul>
  </div>
  <div class="footer__links">
    <h3>Links</h3>
    <ul class="footer__links--list">
      <li><a href="">Crypto's</a></li>
      <li><a href="">Categories</a></li>
      <li><a href="">About us</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div class="footer__moreInfo">
    <h3>More information</h3>
    <ul class="footer__moreInfo--list">
      <li><a href="">About Arlan</a></li>
      <li><a href="">Arlan Helpdesk</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
  </div>
  <div class="footer__legal">
    <h3>Legal stuff</h3>
    <ul class="footer__legal--list">
      <li><a href="">Cookie statement</a></li>
      <li><a href="">Privacy statement</a></li>
      <li><a href="">Terms of service</a></li>
    </ul>
  </div>
  <div>
    <h3>Subscribe for updates</h3>
    <p>Sign up to get notified of changes via out weekly emails</p>
    <button>Sign up</button>
  </div>
  <div class="footer__explore">
    <h3>Explore popular crypto's</h3>
    <ul class="footer__explore--list">
      <li><a href="#">Bitcoin</a></li>
      <li><a href="#">Bitcoin cash</a></li>
      <li><a href="#">Dogecoin</a></li>
      <li><a href="#">Litecoin</a></li>
      <li><a href="#">Ripple</a></li>
      <li><a href="#">Verge</a></li>
      <li><a href="#">Ethereum</a></li>
      <li><a href="#">Tron</a></li>
      <li><a href="#">Chainlink</a></li>
      <li><a href="#">Cardano</a></li>
      <li><a href="#">Polygon</a></li>
    </ul>
  </div>
  <div class="footer__copyright">
    <i class="far fa-copyright"></i>
    <h4>Copyright 2015 - 2019 Arlan Co.</h4>
  </div>
</footer>