<section>
  <header>
    <nav class="header__navigation">
      <div>
        <div class="header__image--wrapper">
          <img class="header__logo" src="media/logo.svg" alt="arlan logo"/>
          <h2>Arlan</h2>
        </div>
        <ul class="header__navigation--list">
          <li class="navigation__list--item"><a href="#">Crypto's</a></li>
          <li class="navigation__list--item"><a href="#">Categories</a></li>
          <li class="navigation__list--item"><a href="#">About us</a></li>
          <li class="navigation__list--item"><a href="#">Contact</a></li>
        </ul>
        <ul class="header__icons">
          <li><a href="#"><i class="fas fa-heart"></i></a></li>
          <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
          <li><a href="#"><i class="fas fa-user"></i></a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="hero">
    <h1 class="hero__heading">Buy Cryptocurrency securely on Arlan.</h1>
    <img class="hero__image" src="media/headerImages/headingIndexImage.svg" alt="arlan hero image"/>
  </div>
</section>