<header>
  <nav class="header__navigation">
    <div>
      <img class="header__logo" src="./static/images/logo.svg" alt="arlan logo"/>
      <ul class="header__navigation--list">
        <li class="navigation__list--item"><a href="#">Crypto's</a></li>
        <li class="navigation__list--item"><a href="#">Categories</a></li>
        <li class="navigation__list--item"><a href="#">About us</a></li>
        <li class="navigation__list--item"><a href="#">Contact</a></li>
      </ul> 
    </div>
  </nav>
</header>